/* page color palette 
lt. pink: #f1e3e8
tan: #ccc3bd
lt. green/blue: #528789
dk. green/blue: #2e5a64
blue/black: #233442
gray/blue: #6993a4
*/
body {
    background-color: #e6dfdb;
}

/* Header style elements */


  img#logo {
      height: 12vh;
      margin-top: 2vh;
  }

  .fa {
      margin: 3px;
      color: #233442;
      float: right;
      font-size: 2vw;
  }

  img#CRCP {
      float: right;
      height:8vh;
      margin-top: 2vh;
  }

  #head.container-fluid {
      background-color: #ccc3bd;

  }

  .member:hover > div {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg) translateZ(1px);
 }

 h2#title {
     color: #233442;
     transform: translateY(50%);
     font-family: 'Handlee', cursive;
     font-size: 4vw;

 }

  /* Navbar style elements */

  .bg-light {
      background-color: #528789 !important;
  }

  .navbar-light .navbar-brand {
    color: #f1e3e8;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(241,227,232,.5);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #f1e3e8;
}

.form-control {
    background-color: #e9e2de;
    color: #233442;
}

.btn-outline-success {
    color: #f1e3e8;
    border-color: #f1e3e8;
}

li.nav-item.dropdown {
    font-size: 1.25rem;
}

a#navbarDropdown.nav-link.dropdown-toggle:hover {
    color: rgb(241,227,232);
}


/* Footer style */

.footer {
    /*background-image: URL("http://portal.gulfcouncil.org/img/bg-footer-1-2000x813.jpg");*/
    background-position: top;
    background: #3a3a3a;
    position: relative;
    text-align: center;
    height: 300px;
    }

.footer p {
    padding-top: 50px;
    color: #868686;
        
    }
        
.footer a {
    color: #868686;
    }

img.foot-img {
    margin-left: -6vh;
}

/*drop down menu*/

.dropdown-submenu{
    position: relative;
}
.dropdown-submenu a::after{
    transform: rotate(-90deg);
    position: absolute;
    right: 7px;
    top: 40%;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -30px;
    left: 100%;
}
@media (max-width: 992px) {
    .dropdown-menu{
        width: 50%;
    }
    .dropdown-menu .dropdown-submenu{
        width: auto;
    }
}

.dropdown-menu {
    background-color: #f1e3e8;
}

.dropdown-item {
    color: #528789;
}

a.dropdown-item.dropdown-toggle:hover, a.dropdown-item:hover {
    color: #528789;
    background-color: #cabac0;
}

/* Image boxes */


.col-md-3.col-xs-6 {
    padding: 0;
    
}

i.fa.fa-github.fa-5x {
    float: none;
    display: block;
    text-align: center;
    font-size: 200px;
    margin-top: 5vh;
    
}

#github.col-md-3.col-xs-6 {
    background-color:#6993a4;  
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#808080;
  }
  
  .col-md-3.col-xs-6:hover .overlay {
    opacity: 0.85;
  }
  
  .text {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }



