/* page color palette 
lt. pink: #f1e3e8
tan: #ccc3bd
lt. green/blue: #528789
dk. green/blue: #2e5a64
blue/black: #233442
gray/blue: #6993a4
*/
body {
    background-color: #e6dfdb;
}

/* Header style elements */

/* Header style elements */


img#logo {
    height: 12vh;
    margin-top: 2vh;
}

.fa {
    margin: 3px;
    color: #233442;
    float: right;
    font-size: 2vw;
}

img#CRCP {
    float: right;
    height:8vh;
    margin-top: 2vh;
}

#head.container-fluid {
    background-color: #ccc3bd;

}

.member:hover > div {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg) translateZ(1px);
}

h2#title {
   color: #233442;
   transform: translateY(50%);
   font-family: 'Handlee', cursive;
   font-size: 4vw;

}

@media (max-width: 576px) { 
    #logo{
        display:none;
    }
    #CRCP {
        display: none;
    }
    h2#title {
        text-align: center;
        font-size: 9vw;
    }
    .fa{
        font-size: 5vw;
    }
    #titleCol {
        margin-bottom: 2vh;
    }
 }



  /* Navbar style elements */

  .bg-light {
      background-color: #528789 !important;
  }

  .navbar-light .navbar-brand {
    color: #f1e3e8;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(241,227,232,.5);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #f1e3e8;
}

.form-control {
    background-color: #e9e2de;
    color: #233442;
}

.btn-outline-success {
    color: #f1e3e8;
    border-color: #f1e3e8;
}

li.nav-item.dropdown {
    font-size: 1.25rem;
}

a#navbarDropdown.nav-link.dropdown-toggle:hover {
    color: rgb(241,227,232);
}


/* Carousel style elements */

/*a {
    color: yellow;
}*/

#carouselColumnOne, #carouselColumnTwo, #carouselColumnThree, #carouselColumnFour{
    text-align: center;
}
.carousel-caption {
    left: 15%;
}

#lightButton.btn-primary, #lightButton.btn-primary:hover {
    color: #233442;
    background-color: #f1e3e8;
    border-color: #f1e3e8;
    text-align: center;
}

#darkButton.btn-primary, #darkButton.btn-primary:hover {
    color: #f1e3e8;
    background-color: #233442;
    border-color: #233442;
    text-align: center;
}


.carousel-caption.d-none.d-md-block.text-left p{
    text-align: left !important;
}

.carousel-caption.d-none.d-md-block.text-center p{
    text-align: center !important;
}

#carouselText {
    padding: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: sans-serif;
    font-size: 1rem;
    color: white;
    text-align: left;
}

#slideOne {
    background: #6993a4;
}

#slideTwo {
    background: #233442;
}

#slideThree {
    background: #f1e3e8;
}

#slideFour {
    background: #2e5a64;
}

/* Adjusting for mobile */

@media (max-width: 576px) { 
    #slideImage{
        display: none;
}
    #carouselColumnOne{
        background: linear-gradient(
            rgba(47,79,79, 0.3), 
            rgba(47,79,79, 0.3)
          ),
          url('madrepora_close_hires.jpg');

    }
    #carouselColumnTwo{
        background: linear-gradient(
            rgba(47,79,79, 0.3), 
            rgba(47,79,79, 0.3)
          ),
          url('elkhorn.jpg');

    }

    #carouselColumnThree{
        background: linear-gradient(
            rgba(255,255,255, 0.5), 
            rgba(255,255,255, 0.5)
          ),
          url('odysseus-hires.jpg');

    }

    #carouselColumnFour{
        background: linear-gradient(
            rgba(0,0,0, 0.3), 
            rgba(0,0,0, 0.3)
          ),
          url('estuary650.jpg');

    }
}

/* Icon section elements */

p.margin20 {
    /*text-align: left;*/
    margin-left: 5vw;
    margin-right: 5vw;
}

a.deco-none, a.deco-none:active,a.deco-none:visited,a.deco-none:focus {
    color:#233442 !important;
    text-decoration:none !important;
    outline: none;
}

i#icons {
    float:none;
    font-size: 6vh;
    color: #2e5a64;
}

p {
    margin-top: 1rem;
}

.col-md-4.col-sm-12 {
    background-color: #ccc3bd;
    padding: 0;
    max-width: 28%;
    margin: 1vh auto 1vh auto;
    
}

@media (max-width: 576px) { 
            #icon-cont{
        max-width: 100%;
    }
}

#icon-cont.col-md-4.col-sm-12 {
    box-shadow: 0 0 20px 8px rgba(0,0,0,.22);
    text-align: center;
}

.col-md-8.col-sm-12 p{
    text-align: left;
    color: #555f61;
}

h3#content {
    text-align: center;
}

img.modalImg {
    max-width: 100%;
    height: auto;
}

i.fa.fa-github.fa-5x {
    float: none;
    display: block;
    text-align: center;
    font-size: 9em;
}

#modalContainer.col-md-3.col-xs-12 {
    background-color: white;
    display: block;
    margin: auto;
}

#exampleModalLiveLabel.modal-title {
    color: #f1e3e8;
}

.close {
    color: #f1e3e8;
}

.modal-header {
    background-color: #6993a4;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.modal-content {
    border-radius: 20px;
}

figcaption {
    font-size: small;
    font-style: italic;
    color: #707C80;
}

h4 {
    color: #2e5a64;
}

hr {
    border-top: 1px solid rgba(82,135,137,0.3);
}

a.deco-style {
    color:#157da8;
}

.btn-secondary {
    color: #f1e3e8;
    background-color: #6993a4;
    border-color: #6993a4;
}


/* Footer style */

.footer {
    /*background-image: URL("http://portal.gulfcouncil.org/img/bg-footer-1-2000x813.jpg");*/
    background-position: top;
    background: #3a3a3a;
    position: relative;
    text-align: center;
    /*height: 300px;*/
    }

.footer p {
    padding-top: 50px;
    color: #868686;
        
    }
        
.footer a {
    color: #868686;
    }

img.foot-img {
    margin-left: -6vh;
    margin-bottom: 1rem;
}

/*drop down menu*/

.dropdown-submenu{
    position: relative;
}
.dropdown-submenu a::after{
    transform: rotate(-90deg);
    position: absolute;
    right: 7px;
    top: 40%;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -30px;
    left: 100%;
}
@media (max-width: 992px) {
    .dropdown-menu{
        width: 50%;
    }
    .dropdown-menu .dropdown-submenu{
        width: auto;
    }
}

.dropdown-menu {
    background-color: #f1e3e8;
}

.dropdown-item {
    color: #528789;
}

a.dropdown-item.dropdown-toggle:hover, a.dropdown-item:hover {
    color: #528789;
    background-color: #cabac0;
}

